.navbar-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    font-weight: bold;
    border: 1px solid black;
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.div-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}


.navbar-links {
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    color: #000;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.navbar-links:hover {
    background-color: #000;
    color: #fff;
}
